<<<<<<< HEAD
.navbar-nav > li > a {
=======
nav li a {
  display: block;
  font-family: "Nunito", Arial, sans-serif;
  font-weight: bold;
>>>>>>> 2837eb6fc0c1ae6b27621fafce6f913a772183f9
  text-transform: uppercase;
  line-height: 80px;
}

li a {
  font-weight: bold;
  font-size: 1.6em;
  font-family: "Nunito", Arial, sans-serif;
}

.login a {
  font-size: 1.6em;
}

.login img {
  /* margin-top: -5px; */
  vertical-align: -5;
  height: 1.5em;
  margin-left: 5px;
}

.navbar-inverse {
  /* padding-bottom: 23px; */
  background-color: #f3faea;
  color: #333;
}

.navbar-inverse .navbar-nav>li>a {
    color: #76b82a;
    font-family: "Nunito", Arial, sans-serif;
}

.alert-success {
    background-color: #76b82a;
    border-color: #76b82a;
    color: #ffffff;
}

.yt h3 {
  font-weight: bold;
}

body {
    font-family: "Nunito", Arial, sans-serif;
}

@media only screen and (max-width: 768px) {
  .navbar-nav > li > a {
    line-height: 28px;
  }
}